@import url("file:///home/joaoVictor/.cache/wal/colors-waybar.css");

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

window {
    background-color: rgba(24, 27, 32, 0.2);
    font-family: Fira Code Medium; 
}

button {
    margin: 10px;
    border-radius: 36px;
    padding: 6px;
    border-width: 4px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s ease-in;
    color: #f0f0f0;
    font-family: Fira Code Medium;
    font-size: 16px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    box-shadow: 0px 0px 10px 2px transparent;
}

button:focus,
button:active,
button:hover {
    outline-style: none; 
    background-color: @color2;
    outline-style: none;
}

#logout {
    background-image: image(
        url("icons/logout.png"),
        url("/usr/local/share/wlogout/icons/logout.png")
    );
}

#suspend {
    background-image: image(
        url("icons/suspend.png"),
        url("/usr/local/share/wlogout/icons/suspend.png")
    );
}

#hibernate {
    background-image: image(
        url("icons/hibernate.png"),
        url("/usr/local/share/wlogout/icons/hibernate.png")
    );
}

#shutdown {
    background-image: image(
        url("icons/shutdown.png"),
        url("/usr/local/share/wlogout/icons/shutdown.png")
    );
}

#reboot {
    background-image: image(
        url("icons/reboot.png"),
        url("/usr/local/share/wlogout/icons/reboot.png")
    );
}

#lock {
    background-image: image(
        url("icons/lock.png"),
        url("/usr/local/share/wlogout/icons/reboot.png")
    );
}

